<div class="ranking-wrapping">
  <%= render "layouts/header" %>
  <div class="row">
    <div class="small-8  prof-name-wrap columns">
      <h1 class="profile-name">About</h1>
      <div class="the-border"></div>
      <p>At MakerSquare, days (and sometimes nights) are filled working through brain-teasing lessons, building new web app features and fixing bugs. With that comes more than a fair amount of sitting and staring at a laptop screen and a splash of stress.</p>

      <p><It wasn’t long after MakerSquare’s third immersive class, also known as cohort three, started that groups started to gather around the ping pong table in 800 Brazos to let off some steam, apply a little backspin, smash a few here, whiff a there and then get back to the task at hand. /p>

      <p>These days, intense challenges are thrown down and epic battles are waged. Those who struggled early on were known to consult YouTube videos for tips. Everyone got better. Along with all this, a great debate emerged regarding who is true the ruler of the court. That debate led to an idea.</p>

      <p>What if we used the skill we learning at Makersquare to develop a web app to track games played and provide updated rankings, so there could be no more question about who is leader of the pack at any point in time?</p>

      <p>That’s how MakerPong was born. We hope you enjoy it. Just don’t throw your shoulder out on your slams. You’ve got coding to do!</p>

      <p><a href="/ranking" class="about_link">Learn more about our ranking system</a>.</p> FIX LINK COLOR

      <h2>The Team</h2>
      <p>John Caldwell<br>
      Matt Larsh<br>
      Rich Edwards
      </p>
    </div>
  </div>
  
  
  <%= render "layouts/footer" %>