
<div class="home-page-featured-image">
<h1>Passionate about Ping Pong?</h1>
<p>Track scores and see how you stack up against the competition with our free web app. Careful. It gets pretty intense.</p>

<button type="button" class="sign-up-button">Sign up</button>
</div>

<h2>Quickly Add and Score Games</h2>
<p>We make selecting players in the league and capturing scores easy. After the game, new rankings and league stats will be calculated for you.</p>

<h2>Bragging Rights</h2>
<p>At a glance, see your league's leaders, the most recent game results and more.</p>

<h2>You vs. the World</h2>
<p>See how you're doing at any point in time. See your ranking and game history.</p>

<h2>Score Games and Check Results from Anywhere</h2>
<p>Access our scoring system from your browser from anywhere. So, any time, anywhere someone lays down a challenge, you'll be ready to make sure their defeat is recorded for posterity. And check results or show off your ranking anywhere you have an Internet connection.</p>

<h2>More to Come</h2>
<p>At MakerPong, we're just getting started. Stay tuned for a touch-screen scoring system, an enhanced ranking algorithm, challenge requests, head-to-head matchup comparisons and more.</p>





<p>Add background image</p>
<p>Add large sign-up button (with fields on the page?)</p>
<p>Possibly add screen shots, video or slider</p>
<p>After first sign-up, send to a getting started page where the new player can add photos, etc. to their profile - and it might have a personalized message.</p> 

