<h1>Welcome to MakerPong!</h1>
<p>Add marketing copy</p>
<p>Add background image</p>
<p>Add large sign-up button (with fields on the page?)</p>
<p>Possibly add screen shots, video or slider</p>
<p>After first sign-up, send to a getting started page where the new player can add photos, etc. to their profile - and it might have a personalized message.</p>  

