<div class="row">
  
<div class="large-4 columns"> 
<h1 class="homelargeheading">Passionate about Ping Pong?</h1>
<p class="homeparagraph">Track scores and see how you stack up against the competition with our free web app. Careful. It gets pretty intense.</p>

<a href = "../players/sign_up">  <button type="button" class="sign-up-button">Sign up</button></a>

</div> 

<div class="large-8 columns">
  <img src="../assets/old-man-ping-pong-player.jpg" class="home-page-featured-image">
</div>



</div>

</div>



