<!-- <img class="welcome-pic" src="../assets/old-man-ping-pong-player.jpg"> -->
<div class="welcome-wrap">
	<div class="row">
		<div class="small-2"></div>
		<div class="small-6 columns"> 
			<h1 class="passion">Passionate about Ping Pong?</h1>
			<div class="welcome-info">Track scores and see how you stack up against the competition with our free web app. Careful. It gets pretty intense.</div>
			<a href = "../players/sign_up">  <button type="button" class="sign-up">Sign up</button></a>
		</div>

		<div class="small-4"></div>

	</div>
</div>



