<div class="ranking-wrapping">
  <%= render "layouts/header" %>
  <div class="row">
    <div class="small-8  prof-name-wrap columns">
      <h1 class="profile-name">Ranking</h1>
      <div class="the-border"></div>
      <p>
      Add description of our ranking system. Elo?
      </p>
    </div>
  </div>
<%= render "layouts/footer" %>