<div class="ranking-wrapping">
  <%= render "layouts/header" %>
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">         
      <div class="page_title">Log a new game</div>
        <%= render 'form' %>
      <h3><%= link_to 'Back', games_path %></h3>
    </div>

  </div>

</div>

  <%= render "layouts/footer" %>
