<div class="full-width-row">
  <div class="row">
    <div class="small-8 medium-8 large-8 small-centered columns">
      <h1>League Players</h1>
        <% Player.power_ranking.each do |player| %>
          <h4><%= ordinalize Player.power_ranking.find_index(player) + 1 %>  <%= link_to player.name, player %> - <%= player.win_percentage %></h4> 
        <% end %>
    </div>
  </div>
</div>