/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */




// * {
//   border: 1px solid red;
//   box-sizing: borderF-box;
// }

.error_explanation {
  color: #cd3831;
  padding: 0.25em;
  h2 {
    font-size: 1.5em;
    color: #cd3831;
  }
}

.paddle img{
  position: absolute;
  width: 1.55em;
  left: 0;
}

.paddle-sign-up-page img{
  position: absolute;
  width: 0.8em;
  left: -0.85em;
  top: 0.055;

}
table {
  margin: 5px;
  border-radius: 5px;
  border-width: 0px;
}

@media all and (min-width: 64em) {
 .top-nav {
  margin-left: 10px;
 }  
}

.logo {
  color: #D1413C;
  font-size: 2.25em;
  font-weight: 600;
  float: left;
  font-family: "hotel-open";
  margin-left: 1em;
  position: relative;
}
.logo a {
  color: #D1413C;
}

// .signedin-logo {
//   & a {
//              font-size: 2em;
//              display: inline-block;
//              font-family: "proxima-nova";
//              font-weight: 600;
//              color: #81b5c3;
//       float: left;
//       height: 2em;
//       margin-left: 2em;
//       padding-top: 0.8em;
//       // padding-bottom: 0.5em;
//     }
// }

.signedin-logo a {
      font-size: 2em;
       font-family: "hotel-open";
      font-weight: 600;
      // color: #81b5c3;
      // color: #cd3831;
      // color: #47474f;
      color: #D1413C;
      float: left;
      width: 17em;
      margin-left: 0.38em;
  }
.signedin-logo{
  position: relative;
}



 .top-right-links { 
    & a {
             font-size: 1em;
             display: inline-block;
             font-family: "proxima-nova";
             font-weight: 400;
             color: white;
             // color: #47474f;
      float: left;
      height: 2em;
      margin-left: 2em;
      padding-top: 0.8em;
      padding-bottom: 0.5em;
    }

    a:hover {
      // border-bottom: solid 2px #cd3831;
      border-bottom: solid 1px  #A9EAED;

    }
}

.signedin-nav {
  //background: #47474f;
  // background: #0265b0;
  // background: #fff;
  // background: #cd3831; 
  // background: #0D4F8B; 
  // background: #308a4f;
  // background: #81b5c3;
  background: transparent;
  // opacity: 1;
  padding: 50px 0px 25px 0px;
}

.active {
  border-bottom: solid 2px #cd3831;
}

.nav-wrap{
         background: transparent;
         padding-top: 2em;
}

 // .title a{
 //         color: white;
 //         font-size: 0.55em;
 //         float: left;
 //         font-family: "proxima-nova";

 // }

.name a {
        color: white;
        font-size: 0.45em;
        float: left;
        font-family: "proxima-nova";
        font-weight: 100;
}

.passion {
        margin-top: 2.85em;
        color: white;
        font-size: 2em;

        font-family: "proxima-nova";
        font-weight: 100;
}

.welcome-info {
        color: white;
        font-size: 1.25em;
        
        font-family: "proxima-nova";
        font-weight: 100;
}

.sign-up {
  border-radius: 5px;
  margin-top: 1em;
}
 


.power-wrapping {
  background-color: red;
  width: 40em;
  height: 50em;
}


h3{
        color: #3A3A3A;
}        

.welcome_card_style {
  padding: 10px 10px;
  margin-right: -15px;
  border-radius: 3px;
  background-color: #fff;
  border-bottom-width: 2px;
}

.text_field {
  background-color : #ffffff;
}

.sign-in-text-button {
  text-align: center;
  width: 200px;
}



// Unsure about how to get these pics to fit.
// .card_pic {
//   height: 10px:
//   width: 10px;
//   display: inline-block;
//   border-radius: 5px;
// }

.columns {
  // border: 1px solid blue;
/*  padding: 0;*/
}

.card_title {
  padding-left: 0.875em;
  font-weight: 600;
  color: #404040;
}

.card_title a {
  font-weight: 600;
  color: #404040;
  padding-left: -0.875em;
}

.main_card {
  border-radius: 3px;
  background-color: #ededed;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
  text-transform: uppercase;
}

.edit-profile-text {
  color: #fff;
  font-size: 1em;
  font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;
}


// footer styling


* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  // min-height: 100%;
  // height: auto !important;
  // height: 100%;
  // margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  // height: 155px; /* .push must be the same height as .footer */
}

.footer {
  background: #47474f;
  padding-top: 20px;
  padding-bottom: 5px;
  font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;
  // margin-bottom: -4em;
}

.footer a {
  color: #999999;
  text-decoration: none;
}

.footer a:hover {
  color: #ffffff;
}
  
.footer-links li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  text-transform: uppercase;
  font-size: .9em;
}

.footer-logo {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0;
}

.fa {
  color: #999999;
}


.copyright {
  font-size: .8em;
  color: #999999;
  padding-left: 17px;
}

.footer-social li{
  display: inline;
  list-style-type: none;
  padding-right: 15px;
}



