/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */
 .top-right-links a{
 	font-size: 0.3em;
 	display: inline-block;
 	font-family: "proxima-nova";
 	font-weight: 100;
 	color: white;
  float: left;
  height: 2em;
 	margin-left: 2em;
 }
 .weird-link a{

 	padding: 0.15em;
 }

 .nav-wrap{
 	background: black;
 	padding: 0.25em;
 }
 .title a{
 	color: white;
 	font-size: 0.55em;
 	float: left;
 	font-family: "proxima-nova";

 }
.name a{
	color: white;
	font-size: 0.45em;
	float: left;
	font-family: "proxima-nova";
	font-weight: 100;
}
.passion {
	margin-top: 2.85em;
	color: white;
	font-size: 2em;

	font-family: "proxima-nova";
	font-weight: 100;
}
.welcome-info {
	color: white;
	font-size: 1.25em;
	
	font-family: "proxima-nova";
	font-weight: 100;
}
.sign-up{
  border-radius: 5px;
  margin-top: 1em;
}
 
.power-wrapping {
  background-color: red;
  width: 40em;
  height: 50em;
}




.columns{
	border: 1px solid green;
}

.profile-pic img {
	width: 17em;
	height: 17em;
	border-radius: 5px;

}

.grab-pic img {
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
	border-radius: 5px;
}
