.dash_titles {
  text-align: center;
  font-size: 2.3125em;
  color: #333333;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.card_style {
  padding: 20px 20px;
  margin: 10px 0 20px 0;
  border-radius: 3px;
  background-color: #fff;
  border-bottom-width: 2px;
}


