// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-wrapper{
  position:relative;
}

.choose-player-one{
  margin-top: 2em;
  margin-right: 2em;

}

.choose-player-two{
  margin-right: 2em;
}

.player-one-score-label label{
  color: white;
  margin-top: 0.65em;
}

.player-two-score-label label{
  color: white;
}

.player-one-score{
  margin: 0.75em 2em 0.25em 2em;
}

.player-two-score{
  margin-right: 1.4em;
  margin-left: 1.15em;
  margin-bottom: 0;
}

.log-game-title{
  font-family: "hotel-open";
  color: #A9EAED;
  font-size: 1.25em; 
  margin: 1.25em 0 0.75em 2.6em;
  
}

.log-new-game{
  background-color: #cd3831;
  color: white;
  margin-left: 2em;
}

.log-game-submit input{
  width: 12em;
  height: 4em;
  background-color: #8EBDC9;
  color: white;
  margin-left: 9.25em;
}

.new-game-button{
  padding: 8px 12px;
  margin-top: 40px;
  background: #5DC3A7;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
.new-game-button:active{
  // margin: 18px 10px;
}
.new-game-button:hover{
  background-color: #0FC491;
}
.new-gamed-button-column{
   height: 50em;
}


.the-border-after-game{
  // border: 0.07em solid #56645C;
  width: 100%;
  // box-shadow: 0 0 10px #9ecaed
  -webkit-box-shadow: 0 1px 11px #ffffff;
  -moz-box-shadow: 0 1px 11px #ffffff;
  border-top: 1px solid #fff;
  opacity: .3;
  filter: alpha(opacity=30);
  float: none;
  display: block;
  height: 1px;
  margin: 0;
  padding: 0;
  // box-shadow: 0 0 30px 10px #fff , 0 0 5px 2px rgba(0, 0, 0, 0.5) inset;
}
.vs-after-game{
  font-weight: 800;
  color: white;
  font-size: 3em;
  width: 1em;
  margin: 2.84em auto 0 auto;
  display: block;
}
.opponent-after-game-name{
  font-weight: 800;
  color: white;
  font-size: 3em;
  margin-top: 2.84em;
  margin-bottom: 0.3em;
  text-align: right;
}
label .pic_upload_label {
  margin-top: 5em;
}
.who-won{
  font-weight: 800;
  color: #FFFED4;
  font-size: 2.6em;
  margin-top: 1.6em;
  margin-bottom: 1em;
  text-align: center;
}
.final-after-game{
  color: white;
  font-size: 1.7em;
  margin: 0 0 0 1.5em;
}
.first-row-after-game{
  background: linear-gradient(left, black, #4E4E4E);
  background: -webkit-linear-gradient(left, black, #4E4E4E);
  
}
.first-data-after-game{
  width: 90em;
  height: 0.5em;
  position: relative;
}
.playerscore1-after-game{
  position: absolute;
  right: 0.8em;
  top: 0.74em;
  font-weight: bold;
  color: #252525;
  font-size: 4.6em;
}
.record1-after-game{
  position: absolute;
  top: 2.15em;
  left: 6.5em;
}
.t-after-game{
  color: white;
  position: absolute;
  top: 0.25em;
  right: 2.6em;
  font-weight: bold;
  font-size: 2em;
}
.date-after-game{
  color: white;
  // position: absolute;
  // left: 22.8em;
  // top: 0.6em;
  font-size: 1.3em;
  text-align: center;
}
.second-row-after-game{
  // background: linear-gradient(top, white, #FEFEFE);
  // background: -webkit-linear-gradient(top, white, #FEFEFE);

}

.second-data-after-game{
  width: 90em;
  height: 13em;
  // background-color: black;
  background: -webkit-linear-gradient(top, white, #FEFEFE);
  background: linear-gradient(top, white, #FEFEFE);
  border-bottom: 1px solid #E3E3E3;
  position: relative;
}

.second-data-after-game img{
  width: 8em;
  height: 8em;
  border-radius: 5px;
}
.third-data-after-game img{
  width: 8em;
  height: 8em;
  border-radius: 5px;
}
.third-row-after-game{
  // background: linear-gradient(top, white, #FEFEFE);
  // background: -webkit-linear-gradient(top, white, #FEFEFE);
  
  border-bottom: 1px solid red;
}
.third-data-after-game{
  width: 90em;
  height: 13em;
  // background-color: black;
  // background: -webkit-linear-gradient(top, #F5F5F5, #FEFEFE);
  // background: linear-gradient(top, #F5F5F5, #FEFEFE);
  background-color: #F5F5F5;
  position: relative;
}
.fourth-data-after-game{
  height: 6.5em;
  background-color: white;
  position: relative;
  border-top: 1px solid #E3E3E3;
}
.comment-after-game{
  color: #2A69BC;
  font-family: "proxima-nova";
  font-weight: 800;
}
.name1-after-game{
  font-family: "proxima-nova";
  font-weight: 800;
  color: #434343;
  position: absolute;
  top: 1em;
  left: 4em;
}
.winner h1{
	  font-family: "hwt-american-outline";
	  color: white;
	  float: left;
	  margin-left: -0.5em;
}
.loser h1{
	font-family: "hwt-american-outline";
	color: white;
	float: right;
}
.after-game-stats{
	font-family: "proxima-nova";
	font-weight: 800;
	text-align: center;
}
.after-game-options a{
	font-family: "proxima-nova";
	font-weight: 800;
	font-size: 2.5em;
	color: white;
}
.after-game-options{
	text-align: center;
}

.left-after-game-pic{
  min-height: 60%;
  opacity: 1;
  /* Set up proportionate scaling */
  width: 50%;
  // height: auto;
  // background-image: url('winner.jpg');
  /* Set up positioning */
  // background-position: left top, right bottom;
  // background-repeat: no-repeat;
  // padding-bottom: 100px
  // position: fixed;
  top: 10;
  left: 0;
  background: linear-gradient(black, transparent 70%);
}
.after-game-row {
  padding: 15px 15px;
  
  // border-radius: 3px;

  background-color: #EBEBEB;
  // border: solid 4px #ffffff;
  border-bottom-width: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.right-after-game-pic{
  min-height: 100%;
  opacity: 1;
  /* Set up proportionate scaling */
  width: 50%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  right: 0;
}
.after-game-column{
  margin-top: 8em;
  width: 40em;
  margin-bottom: 20em;
}
.main-after-game-column-wrap{
  margin-bottom: 10em;
}
.card_style {
  padding: 20px 20px;
  // margin: 10px 10px 10px 10px;
  border-radius: 3px;
  background-color: #fff;
  border: solid 4px #ffffff;
  border-bottom-width: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  height: 12em;
  width: 34em;
}
.after-game-card_style{
  padding: 20px 20px;
  // margin: 10px 10px 10px 10px;
  border-radius: 3px;
  background-color: #fff;
  border: solid 4px #ffffff;
  border-bottom-width: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  height: 25em;
  width: 100%;
}
.after-game_card_name {
  text-align: left;
  font-size: 1.8em;
  font-weight: 700;
  padding: 10px;
  color: #404040;
  margin-top: 1.2em;
}
.after-game_card_score{
  font-weight: 400;
  font-size: 1.3em;
  float: right;

}
.after-game-title{
  font-size: 1.25em;
  color: #545454;
}
.after-pong-pic img{
  width: 10em;
  height: 10em;
  display: inline-block;
  border-radius: 5px;

}
.after-game-card_pic img {
  height: 10em;
  width: 10em;
  display: inline-block;
  border-radius: 5px;
}
.after-game-card_pic{
  height: 10em;
  width: 10em;
  display: inline-block;
  border-radius: 5px;
}
.transbox
  {
  margin-top: 12em;
  width: 20em;
  height: 40em;
  // margin:30px 50px;
  background-color:#ffffff;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  }

  // .transbox h3
  //   {
  //   font-family: "proxima-nova";
  //   margin:30px 40px;
  //   font-weight:bold;
  //   color:#000000;
  //   }











// ------------------------------------------------------------





// Live Scoring Style
// body {
//   font-family: 'Gill Sans', sans-serif;
//   height: 100%;
//   padding: 0;
// }

.scorer-background {
  background-color: #47474f;
  min-height: 900px;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  background-size: cover; //this resizes the background for any screen size
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.navLinks {
  display: block; 
  margin-top: 3em;
  margin-left: auto; 
  margin-right: auto;
  color: #fff;
}

.navText {
  display: block;
  margin-top: 3em;
  margin-left: auto; 
  margin-right: auto;
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 1em;
  font-family: 'Gill Sans', sans-serif;
  color: #fff;
}

.gameBlock {
  padding-top: 1em;
  min-height: 90%;
}

.scoreCard {
  height: 100%;
  width: 100%;
  border-radius: 15px
}

.score {
  font-size: 20em;
  text-align: center;
  font-family: 'Passion One', 'Gill Sans', sans-serif;
  color: #fff;
}

.player1block {
  background: #cd3831;
}

.player2block {
  background: #81b5c3;
}

.changeScore {
  font-size: 0.8em;
  margin-top: 0.8em;
  margin-bottom: -2em;
  font-size: 3em;
  font-family: 'Gill Sans', sans-serif;
  color: #fff;
}

.player1ScoreChange {
  text-align: left;
}

.player2ScoreChange {
  text-align: right;
}

#increasePlayer1 {
  margin-left: .65em;
}

#decreasePlayer1 {
  margin-left: .75em;
  margin-top: -2em;
}

#increasePlayer2 {
  margin-right: .65em;
}

#decreasePlayer2 {
  margin-right: .75em;
  margin-top: -2em;
}

.player {
  margin-top: 22%;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Gill Sans', sans-serif;
  color: #fff;
}

.game-title {
  font-size: 2em;
  text-align: center;
  font-family: 'Gill Sans', sans-serif;
  color: #fff;
}


