// label {
//   color: #333333;
//   margin: 10px 0 -10px 0;
// }

h1 {
  font-size: 4em;
  font-weight: bold;
}

.full-width-row {
  padding: 6em 0em;
  width: 100%;
  height: 100%;
  min-height: 800px; // to make it full-screen top to bottom on most screens
  background-size: cover; //this resizes the background for any screen size
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: #76d691;
  h2 {color: #008CBA;}
}

.lower_headers {
  margin-top: 30px;
}

.section-titles {
  font-size: 2.3125em;
  color: #404040;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
}

.pic_upload_label th {
  margin-top: 50px;
}

h2, h1 {
  color: #404040;
}

.title-pic {
  text-align: center;
  
  img {
    width: 7em;
    height: 7em;
  }

  .leader_title_style {
    font-size: 1.4em;
    font-weight: 400;
  }

  .title-holder {
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 15px;
  }
}

.table_style {
  border: solid 1px #666666;
  margin: 0 auto;

}

.table-title-row {
  background-color: #083930;
}

.table-title {
  color: #ffffff;
}

.table_headers {
  color: #4b4b4b;
}

.card_column {
  padding: 0;
}

.date_row {
  padding-bottom: 10px;
}
