// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ranking-wrapping{
	background: linear-gradient( #064036 4%, white 89%)
}
.power-ranking-title{
	color: #323232;
	margin-top: 0.625em;
}
.ranking-items{
	font-size: 1.75em;
	font-weight: bold;

	color: #323232;
	a{
		color: #323232;
	}
}
.profile-rank{
	color: #292830;
}