
// General and Welcome#Index styling
.page-wrapping{
  width: 100%;
  background: -webkit-linear-gradient(left, #3A945B, #64b481, #3A945B);
  min-height: 680px; // to make it full-screen top to bottom on most screens
  
  height: 100em;
}
.for-margin{
  margin-top: 2em;
}
.sign-up-row{
  margin-top: 2em;
}
.welcome-wrap{
  min-height: 100%;
  opacity: 1;
  background-color: black;
  width: 100%;
  height: auto;
  position: fixed;
  top: 5;
  left: 0;
}

.welcome-pic{
  min-height: 100%;
  opacity: 1;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 5;
  left: 0;
}

.box {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  opacity: .8;
  margin-top:20px;
  margin-bottom:200px;
}

.homepageimage {
    background: url( asset-path('assets/matt-smash.jpg', image) ) no-repeat top;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.sign-up-label {
  background-color: transparent;
  border-style: solid;
  border: 2px;
  border-radius: 5px;
  font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;
  color: #686868;
}

.sign-up-button {
  height: 50px;
  width: 100%;
  background-color: #308a4f;
  border-style: none; 
  border-width: none;
  border-radius: 5px;
  vertical-align: middle;
  display:inline-block;
  font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;
  color: #fff;
  font-size: 1em;
}

.sign-up-button:hover {
    background-color: #76d691;
}

.homepage_link a {
  text-decoration: none;
  hover: yellow;
}

.homelargeheading {
  color: white;
  font-size: 4em;
  line-height: 1.15;
  font-weight: bold;
  font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;
  padding-top: 50px;
  opacity: .8;
  text-align: center;
}

.homeparagraph {
  font-size: 1.25em;
  line-height: 1.15;
  color: #686868;
  font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;
  opacity: 1;
  border-radius: 5px;
}


// Dashboard styling


.leader_title_style {
  font-size: 1.4em;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin-bottom: 0.5em;
}

.title-holder {
  color: #262626;
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 15px;
  white-space: nowrap;
}

.dash-title-pic {
  text-align: center;
  display: inline-block;
  img {
    border-radius: 5px;
    width: 7em;
    height: 7em;
  }


.game-card-pic {
    width: 7em;
    height: 7em;
  }
}

.league_leader_preview {
  font-size: 0.5em;
}

.power_ranking_card {
  padding: 20px 0 20px 0;
}

.recent_game {
  img {
  width: 3em;
  height: 3em;
  padding: 0.125em;
  border-radius: 5px;
  }
}

.table_style {
  border: solid 1px #666666;
  margin: 0 auto;
}

.table-title-row {
  background-color: #083930;
}

.table-title {
  color: #ffffff;
}

.table_headers {
  color: #4b4b4b;
}

.card_column {
  padding: 0;
}

.date_row {
  padding-bottom: 10px;
}




