.sign-up-button {
  height: 50px;
  width: 120px;
  border-color: #6495ED;
  background-color: #BCD2EE;
  border-style: solid; 
  border-width: 2px;
  border-radius: 5px;
}


// On the CSS tab, set your div's margin to auto and its text-align property to center.

.homepage_link a {
  text-decoration: none;
}