
// General and Welcome#Index styling

.log-a-game-button {
   // border-top: 1px solid #96d1f8;
   background: #165592;
   

   // background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   // background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   // background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   // background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   // background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 11.5px 23px;
   // -webkit-border-radius: 8px;
   // -moz-border-radius: 8px;
   // border-radius: 8px;
   // -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   // -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   // box-shadow: rgba(0,0,0,1) 0 1px 0;
   // text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   border-spacing: 0 !important;
   border-radius: 5px;
   border-style: none;
   box-shadow: 2px 2px 2px #888888;
   font-size: 14px;
   font-family: "proxima-nova";

   text-decoration: none;
   vertical-align: middle;
   float: right;
   margin-top: 5em;
   }
.log-a-game-button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.log-a-game-button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }










.page-wrapping{
  width: 100%;
  background: -webkit-linear-gradient(left, #3A945B, #64b481, #3A945B);
  min-height: 680px; // to make it full-screen top to bottom on most screens
  height: 100em;
}

.for-margin{
  margin-top: 2em;
}

.sign-up-row{
  margin-top: 2em;
}

.welcome-wrap{
  min-height: 100%;
  opacity: 1;
  background-color: black;
  width: 100%;
  height: auto;
  position: fixed;
  top: 5;
  left: 0;
}

.welcome-pic{
  min-height: 100%;
  opacity: 1;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 5;
  left: 0;
}

.homepageimage {
  background: url( asset-path('assets/matt-smash.jpg', image) ) no-repeat top;
  width: 100%;
  height: 100%;
  background-size: cover;
}


.homelargeheading {
  color: white;
  text-rendering: optimizeLegibility;
  font-size: 3em;
  line-height: 1.15;
  font-weight: bold;
  font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;
  padding-top: 2.5em;
}

.homeparagraph {
  font-weight: normal;
  font-size: 1.3em;
  padding-top: 1em;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
  color: #ffffff;
  font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;
}

.home-new-acct {
  color: #fff;
  margin-bottom: 0.75em;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.signup-box {
  padding: 10px;
  // background-color: #fff;
  border-radius: 5px;
  // opacity: .8;
  margin-top: 8em;
  margin-bottom: 250px;

}
.crown{
  font-size:3em;
  color: gold;
  margin-left: 1.2em;
}
.skull{
  font-size:3em;
  // position: absolute;
  // top: 0.05;
  // left: 0;
  margin-left: 1.2em;
}
.up-arrow{
  color: green;
  font-size: 2em;
  margin-left: 1.85em;
}
.frown-face{
  color: red;
  font-size: 1.5em;
}
.fa-thumbs-down{
  color: red;
  font-size:2em;
  margin-left: 1.6em;
}
.sign-up-label {
  font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;
}

#player_name, #player_email, #player_password, #player_password_confirmation, #player_current_password {
  background: hsla(0,0,0,0.35);
  border-radius: 5px;
  border: none;
  color: #ffffff;
}

.sign-up-button{
  height: 50px;
  width: 100%;
  background-color: #C53B32;
  border-style: none; 
  border-width: none;
  border-radius: 5px;
  vertical-align: middle;
  display:inline-block;
  font-family: "Proxima Nova", "Helvetica Neue", helvetica, arial, sans-serif;
  color: #fff;
  font-size: 1em;
  margin-bottom: 4.4em;
}



.sign-up-button:hover {
  background-color: #76d691;
}


.homepage_link a {
  text-decoration: none;
}

a.about_link:link {color:#FF0000;}


// .about_link a:link {
//   color: red;
// }

// .about_link a:hover {
//   color: #2f353e;
// }




// Dashboard styling

.dash_card_style {
  padding: 20px 20px;
  margin: 10px 10px 10px 10px;
  border-radius: 3px;
  background-color: #fff;
  border: solid 4px #ffffff;
  border-bottom-width: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.title_holder_section_title {
  padding-left: 15px;
  font-size: 1.6875rem;
  font-weight: 600;
  text-align: left;
  color: #404040;
}

.leader_title_style {
  font-size: 1.4em;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin-bottom: 0.5em;
}

.title-holder {
  color: #262626;
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 15px;
  white-space: nowrap;
}

.league_leader_preview {
  font-size: 0.5em;
}

.power_ranking_card {
  padding: 20px 0 20px 0;
}

.recent_game {
  img {
  width: 3em;
  height: 3em;
  padding: 0.125em;
  border-radius: 5px;
  }
}

.table_style {
  border: solid 1px #666666;
  margin: 0 auto;
}

.table-title-row {
  background-color: #083930;
}

.table-title {
  color: #ffffff;
}

.table_headers {
  color: #4b4b4b;
}

.card_column {
  padding: 0;
}

.date_row {
  text-align: right;
  padding-bottom: 5px;
  border-bottom: solid 1px #A5A5A5;
  margin-bottom: 10px;
}

.dash-title-pic {
  text-align: center;
  display: inline-block;
  img {
    border-radius: 5px;
    width: 7em;
    height: 7em;
  }


.game_card_player_name {
  text-align: left;
  font-size: 16px;
  font-weight: 350;
  color: #404040;
  margin-top: 15px;
}

.game_card_score {
  text-align: center;
  font-size: 16px;
  font-weight: 350;
  padding: 10px;
  color: #404040;
}

.game-card-pic {
    width: 7em;
    height: 7em;
  }
}


.title-holders-column{
  margin-top: 2em;
}
.title-holder-data{
  width: 60em;
  background-color: #0A5B4E;
  
}
.title-holders{
  color: #fff;
  font-family: "proxima-nova";
  font-weight: 600;
  text-align: center;
  font-size: 1.5em;
}

.title-holder-title {
  text-align: center;
  font-family: "proxima-nova";
  font-weight: 600;
  color: #47474f;
  font-size: 1.1em;
  position: relative;
}

.title-holders-header {
  // background: #cd3831;
  background: #47474f;
  color: #fff;
}

.king-wrap{
  width: 15em;
  background-color: white;
}
.king{
  text-align: center;
  font-family: "proxima-nova";
  font-weight: 500;
  color: #47474f;
  font-size: 1em;
}

.king a {
  text-align: center;
  font-family: "proxima-nova";
  font-weight: 500;
  color: #47474f;
  font-size: 1em;
}

.king a:hover{
  border-bottom: solid 1px #47474f;
}

.title-holder-pics{
  border-radius: 5px;
}
.league-leader-stats{
  text-align: center;
  font-family: "proxima-nova";
  font-weight: 500;
  color: #47474f;
  font-size: 1em;
}

.league-leader-stats a {
  color: #47474f;
}

.league-leader-stats a:hover {
  border-bottom: solid 1px #47474f;

}



.league-leader-percent{
  text-align: center;
  font-family: "proxima-nova";
  font-weight: 500;
  color: #47474f;
  font-size: 1em;
}






