<div class="footer">
  
  <div class="row">
    
    <div class="medium-4 medium-4 push-8 prof-name-wrap columns">
     
<ul class="footer-social">
  
  <li><a href="https://twitter.com/MakerSquare"><i class="fa fa-twitter-square fa-3x"></i></a></li>
  <li><a href="https://www.facebook.com/makersquare"><i class="fa fa-facebook-square fa-3x"></i></a></li>    
</ul>

</div>


     <div class="medium-8 medium-8 pull-4 columns">
           
        <ul class="footer-links">
          <li class="footer-logo">
            <%= link_to 'MakerPong', root_url %></li>
          <li><%= link_to 'About', welcome_about_path %></li>
        </li>
       </ul>

       <p class="copyright">© 2014 MakerPong. All rights reserved.</p>
    </div>          
  
  </div>
</div>
